{{! the data, title and friend, we are passing it through the messages.controller.js while rendering this view }}
{{! we are rendering this view through messages.controller.js }}

<h1>{{title}}</h1>
<ul>
  <li>Hello {{friend}}!</li>
  <li>What are your thoughts on black holes?</li>
</ul>